
@{
    Layout = "~/Views/Shared/_VideoLayout.cshtml";
}



<main id="content">
    <div class="home-slider position-relative mb-7">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="slider-movie bg-img-hero d-flex flex-column justify-content-end overflow-hidden h-700rem mb-5 mb-lg-0" style="background-image: url(../lib/videotemplate/assets/img/422x700/img1.jpg);">
                    <div class="slider-movie__hover d-flex flex-column z-index-2 px-4 pb-6 pb-lg-4 transition-1">
                        <div class="mx-1">
                            <div class="slider-movie__hover-watch-now d-flex justify-content-center d-xl-none mb-7">
                                <a href="../single-movies/single-movies-v4.html">
                                    <div class="watch-now-btn d-inline-block rounded-circle py-5 px-5 mb-2 pb-1 mx-1" style="background: linear-gradient(30deg, #2a4999 0%, #2c9cd4 100%);">
                                        <div class="d-flex justify-content-center ml-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49px" height="54px">
                                                <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M2.000,51.000 C-0.150,46.056 0.424,8.178 2.000,5.000 C3.282,2.414 5.732,0.351 9.000,1.000 C19.348,3.054 45.393,19.419 48.000,25.000 C49.019,27.182 48.794,28.758 48.000,31.000 C46.967,33.919 13.512,54.257 9.000,54.000 C6.740,53.873 3.005,53.311 2.000,51.000 Z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="text-white font-size-24">Watch Now</div>
                                </a>
                            </div>
                            <a href="../single-movies/single-movies-v4.html">
                                <h6 class="display-9 text-white mb-2 d-block">Project Cars 3</h6>
                            </a>
                            <div class="text-white font-size-12 mb-2">
                                <span>1hr 42 mins</span>
                                <span> | </span>
                                <a href="../single-movies/single-movies-v4.html" class="text-white">Action,</a>
                                <a href="../single-movies/single-movies-v4.html" class="text-white">Adventure,</a>
                                <a href="../single-movies/single-movies-v4.html" class="text-white">Animation</a>
                            </div>
                            <div class="movie__description-wrap">
                                <div class="movie__description d-xl-none">
                                    <p class="text-white font-size-17">Lightning McQueen sets out to prove to a new generation of racers that he’s still the best race car in the world.</p>
                                </div>
                            </div>
                            <div class="movie__actions d-xl-none">
                                <div class="pb-1 mr-xl-3">
                                    <a href="../single-movies/single-movies-v4.html" class="btn px-5 btn-primary py-3 w-100 btn-sm mb-3" tabindex="0">WATCH NOW</a>
                                </div>
                                <div>
                                    <a href="../single-movies/single-movies-v4.html" class="btn px-5 btn-outline-light py-3 w-100 btn-sm" tabindex="0">+ PLAYLIST</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slider-movie bg-img-hero d-flex flex-column justify-content-end overflow-hidden h-700rem mb-5 mb-lg-0" style="background-image: url(../lib/videotemplate/assets/img/422x700/img2.jpg);">
                    <div class="slider-movie__hover d-flex flex-column z-index-2 px-4 pb-6 pb-lg-4 transition-1">
                        <div class="mx-1">
                            <div class="slider-movie__hover-watch-now d-flex justify-content-center d-xl-none mb-7">
                                <a href="../single-movies/single-movies-v4.html">
                                    <div class="watch-now-btn d-inline-block rounded-circle py-5 px-5 mb-2 pb-1 mx-1" style="background: linear-gradient(30deg, #2a4999 0%, #2c9cd4 100%);">
                                        <div class="d-flex justify-content-center ml-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49px" height="54px">
                                                <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M2.000,51.000 C-0.150,46.056 0.424,8.178 2.000,5.000 C3.282,2.414 5.732,0.351 9.000,1.000 C19.348,3.054 45.393,19.419 48.000,25.000 C49.019,27.182 48.794,28.758 48.000,31.000 C46.967,33.919 13.512,54.257 9.000,54.000 C6.740,53.873 3.005,53.311 2.000,51.000 Z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="text-white font-size-24">Watch Now</div>
                                </a>
                            </div>
                            <a href="../single-movies/single-movies-v4.html">
                                <h6 class="display-9 text-white mb-2 d-block">Pacific Rim: Uprising</h6>
                            </a>
                            <div class="text-white font-size-12 mb-2">
                                <span>1hr 51 mins</span>
                                <span> | </span>
                                <a href="../single-movies/single-movies-v4.html" class="text-white">Action,</a>
                                <a href="../single-movies/single-movies-v4.html" class="text-white">Sci-Fi</a>
                            </div>
                            <div class="movie__description-wrap">
                                <div class="movie__description d-xl-none">
                                    <p class="text-white font-size-17">Lightning McQueen sets out to prove to a new generation of racers that he’s still the best race car in the world.</p>
                                </div>
                            </div>
                            <div class="movie__actions d-xl-none">
                                <div class="pb-1 mr-xl-3">
                                    <a href="../single-movies/single-movies-v4.html" class="btn px-5 btn-primary py-3 w-100 btn-sm mb-3" tabindex="0">WATCH NOW</a>
                                </div>
                                <div>
                                    <a href="../single-movies/single-movies-v4.html" class="btn px-5 btn-outline-light py-3 w-100 btn-sm" tabindex="0">+ PLAYLIST</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slider-movie bg-img-hero d-flex flex-column justify-content-end overflow-hidden h-700rem" style="background-image: url(../lib/videotemplate/assets/img/422x700/img3.jpg);">
                    <div class="slider-movie__hover d-flex flex-column z-index-2 px-4 pb-6 pb-lg-4 transition-1">
                        <div class="mx-1">
                            <div class="slider-movie__hover-watch-now d-flex justify-content-center d-xl-none mb-7">
                                <a href="../single-movies/single-movies-v4.html">
                                    <div class="watch-now-btn d-inline-block rounded-circle py-5 px-5 mb-2 pb-1 mx-1" style="background: linear-gradient(30deg, #2a4999 0%, #2c9cd4 100%);">
                                        <div class="d-flex justify-content-center ml-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49px" height="54px">
                                                <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M2.000,51.000 C-0.150,46.056 0.424,8.178 2.000,5.000 C3.282,2.414 5.732,0.351 9.000,1.000 C19.348,3.054 45.393,19.419 48.000,25.000 C49.019,27.182 48.794,28.758 48.000,31.000 C46.967,33.919 13.512,54.257 9.000,54.000 C6.740,53.873 3.005,53.311 2.000,51.000 Z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="text-white font-size-24">Watch Now</div>
                                </a>
                            </div>
                            <a href="../single-movies/single-movies-v4.html">
                                <h6 class="display-9 text-white mb-2 d-block">Black Mirror</h6>
                            </a>
                            <div class="text-white font-size-12 mb-2">
                                <span>30mins</span>
                                <span> | </span>
                                <a href="../single-movies/single-movies-v4.html" class="text-white">Action,</a>
                                <a href="../single-movies/single-movies-v4.html" class="text-white">Mystery</a>
                            </div>
                            <div class="movie__description-wrap">
                                <div class="movie__description d-xl-none">
                                    <p class="text-white font-size-17">In 1984, a young programmer begins to question reality as he works to adapt a fantasy novel into a video game.</p>
                                </div>
                            </div>
                            <div class="movie__actions d-xl-none">
                                <div class="pb-1 mr-xl-3">
                                    <a href="../single-movies/single-movies-v4.html" class="btn px-5 btn-primary py-3 w-100 btn-sm mb-3" tabindex="0">WATCH NOW</a>
                                </div>
                                <div>
                                    <a href="../single-movies/single-movies-v4.html" class="btn px-5 btn-outline-light py-3 w-100 btn-sm" tabindex="0">+ PLAYLIST</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container px-md-6 mb-5 mb-xl-8">
            <div class="row mb-xl-5">
                <div class="col-xl-auto d-flex">
                    <header class="max-w-370 mt-auto mb-8 title-dash">
                        <h1 class="display-7 mb-3 pr-xl-12 font-weight-semi-bold">Popular Movies to Watch Now</h1>
                        <p class="text-gray-1300 font-secondary font-weight-medium">Most watched movies by days</p>
                        <div class="border-top border-g-1200-op mr-xl-7">
                            <a href="#" class="h-w-primary text-gray-1300 font-size-13 d-inline-flex align-items-center pt-2 font-secondary font-weight-medium">
                                VIEW ALL
                                <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="4" height="7"><path d="M3.979,3.703 C3.987,3.785 3.966,3.869 3.903,3.934 L1.038,6.901 C0.921,7.023 0.724,7.029 0.598,6.916 L0.143,6.506 C0.017,6.393 0.011,6.203 0.128,6.082 L2.190,3.946 C2.276,3.829 2.356,3.691 2.356,3.548 C2.356,3.214 1.947,2.885 1.947,2.885 L1.963,2.877 L0.080,0.905 C-0.036,0.784 -0.029,0.592 0.095,0.479 L0.547,0.068 C0.671,-0.045 0.867,-0.039 0.983,0.083 L3.823,3.057 C3.867,3.102 3.876,3.161 3.885,3.218 C3.945,3.267 3.988,3.334 3.988,3.416 L3.988,3.681 C3.988,3.690 3.979,3.694 3.979,3.703 Z" fill="rgb(148, 156, 176)" /></svg>
                            </a>
                        </div>
                    </header>
                </div>
                <div class="col">
                    <div class="row row-cols-2 row-cols-md-5">
                        <div class="col mb-5 mb-xl-0">
                            <div class="product">
                                <div class="product-image mb-2">
                                    <a href="../single-movies/single-movies-v4.html" class="d-inline-block position-relative stretched-link"><img class="img-fluid" src="~/lib/videotemplate/assets/img/174x260/img1.jpg" alt="Image Description"></a>
                                </div>
                                <div class="product-meta font-size-12 mb-1">
                                    <span><a href="../single-movies/single-movies-v4.html" class="h-g-primary">2020</a></span>
                                    <span><a href="../single-movies/single-movies-v4.html" class="h-g-primary">Action</a></span>
                                    <span><a href="../single-movies/single-movies-v4.html" class="h-g-primary">Comedy</a></span>
                                    <span><a href="../single-movies/single-movies-v4.html" class="h-g-primary">Mystery</a></span>
                                </div>
                                <div class="product-title font-weight-bold font-size-1"><a href="../single-movies/single-movies-v4.html">Delta Bravo</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-md-5 row-cols-xl">
                <div class="col-6 col-xl mb-5 mb-xl-0">
                    <div class="product">
                        <div class="product-image mb-2">
                            <a href="../single-movies/single-movies-v4.html" class="d-inline-block position-relative stretched-link">
                                <span class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">Featured</span>
                                <img class="img-fluid" src="~/lib/videotemplate/assets/img/174x260/img10.jpg" alt="Image Description">
                            </a>
                        </div>
                        <div class="product-meta font-size-12 mb-1">
                            <span><a href="../single-movies/single-movies-v4.html" class="h-g-primary">2020</a></span>
                            <span><a href="../single-movies/single-movies-v4.html" class="h-g-primary">Action</a></span>
                            <span><a href="../single-movies/single-movies-v4.html" class="h-g-primary">Comedy</a></span>
                            <span><a href="../single-movies/single-movies-v4.html" class="h-g-primary">Mystery</a></span>
                        </div>
                        <div class="product-title font-weight-bold font-size-1"><a href="../single-movies/single-movies-v4.html">The Convenient Groom</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




