
@{
    Layout = null;
}

<div class="card" id="contactCard">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3 py-3">
                <a href="https://open.spotify.com/user/216fni5y42n2fs6kxbcqe6csq?si=CfqTJyNAS3CvNUjuCZv41g" rel="noopener nofollow noreferrer" target="_blank">
                    <div class="card h-100 text-center py-2 bg-success" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="facebook">
                        <div class="card-body card-title">
                            <h1 class="mb-4"><img width="40%" data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605609637/samples/FollowMe/spotify.png" /></h1>
                            <h6>@@fethi.tekyaygil</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 py-3">
                <a href="https://github.com/TekyaygilFethi" rel="noopener nofollow noreferrer" target="_blank">
                    <div class="card h-100 text-white text-center py-2" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="github" style="background-color:purple">
                        <div class="card-body card-title">
                            <h1 class="mb-4"><img width="40%" data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605609637/samples/FollowMe/github.png" /></h1>
                            <h6>@@TekyaygilFethi</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 py-3">
                <a href="https://www.linkedin.com/in/fethi-tekyaygil/" rel="noopener nofollow noreferrer" target="_blank">
                    <div class="card h-100 text-white bg-info text-center py-2" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="linkedin">
                        <div class="card-body card-title">
                            <h1 class="mb-4"><img width="40%" data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605609637/samples/FollowMe/linkedin.png" /></h1>
                            <h6>@@fethi-tekyaygil</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 py-3">
                <a href="https://fethitekyaygil.medium.com/" rel="noopener nofollow noreferrer" target="_blank">
                    <div class="card h-100 text-white bg-dark text-center py-2" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="medium">
                        <div class="card-body card-title">
                            <h1 class="mb-4"><img width="40%" data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605609638/samples/FollowMe/medium.png"/></h1>
                            <h6>@@fethitekyaygil</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
