
@{
    Layout = null;
}

<div class="card" id="contactCard">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3 py-3">
                <a href="https://www.facebook.com/fethi.tekyaygil" target="_blank">
                    <div class="card h-100 text-center py-2 bg-light" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="facebook">
                        <div class="card-body card-title">
                            <h1 class="mb-4"><i class="ion-social-facebook-outline display-lg"></i></h1>
                            <h6>@@fethi.tekyaygil</h6>
                        </div>
                    </div>
                </a>
            </div>
            @*<div class="col-sm-4 py-3">
                    <a href="https://twitter.com/HouseTekyaygil" target="_blank">
                        <div class="card h-100 text-white bg-primary text-center py-2" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="twitter">
                            <div class="card-body card-title">
                                <h1 class="mb-4"><i class="ion-social-twitter-outline display-lg text-white"></i></h1>
                                <h6>@@HouseTekyaygil</h6>
                            </div>
                        </div>
                    </a>
                </div>*@
            @*<div class="col-sm-4 py-3">
                    <div class="card h-100 text-white bg-warning text-center py-2" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="snapchat">
                        <div class="card-body card-title">
                            <h1 class="mb-4"><i class="ion-social-snapchat-outline display-lg text-white"></i></h1>
                            <h6>@@fethitekyaygil</h6>
                        </div>
                    </div>
                </div>*@
            <div class="col-sm-3 py-3">
                <a href="https://www.youtube.com/user/mangatotti" target="_blank">
                    <div class="card h-100 text-white bg-danger text-center py-2" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="youtube">
                        <div class="card-body card-title">
                            <h1 class="mb-4"><i class="ion-social-youtube-outline display-lg text-white"></i></h1>
                            <h6>@@mangatotti</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 py-3">
                <a href="https://github.com/TekyaygilFethi" target="_blank">
                    <div class="card h-100 text-white bg-secondary text-center py-2" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="github">
                        <div class="card-body card-title">
                            <h1 class="mb-4"><i class="ion-social-github-outline display-lg text-white"></i></h1>
                            <h6>@@TekyaygilFethi</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 py-3">
                <a href="https://www.linkedin.com/in/fethi-tekyaygil/" target="_blank">
                    <div class="card h-100 text-white bg-info text-center py-2" id="myGlower" onmouseover="glowElement(this)" onmouseout="unglowElement(this)" name="linkedin">
                        <div class="card-body card-title">
                            <h1 class="mb-4"><i class="ion-social-linkedin-outline display-lg text-white"></i></h1>
                            <h6>@@fethi-tekyaygil</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
