
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/lib/loginPage/loginPage.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605614629/samples/Navbar/navbar.png" alt="Fethi Tekyaygil" id="icon" />
            </div>

            <!-- Login Form -->
            <form action="@Url.Action("Login","Admin")" method="post">
                <input type="text" id="login" class="fadeIn second" name="Username" placeholder="login">
                <input type="password" id="password" class="fadeIn third" name="Password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
