@{
    Layout = null;
}

<style>
    #supportCards img {
        height: 25vh;
    }

    #supportCards .card .card-body .card-text {
        font-size: 5vh;
    }

    /*#supportCards .card {
        height: 14vw;
    }*/

</style>

<div id="supportCards">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <a href="https://www.losev.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_losev.png") alt="Lösev"></span></a>
            </div>
            <div class="card-body bg">
                <p class="card-text">LÖSEV</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="https://www.kizilay.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_kizilay.png") alt="Kızılay"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">KIZILAY</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <a href="https://www.yesilay.org.tr/tr" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("Content/Media/Support/_yesilay.png") alt="Yeşilay"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">YEŞİLAY</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.akut.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_akut.png") alt="Akut"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">AKUT</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <a href="http://www.tema.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_tema.png") alt="Tema"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TEMA</p>
            </div>
        </div>
    </div>

    <br />
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <a href="https://www.tbv.com.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_tbv.png") alt="Türk Böbrek Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRK BÖBREK VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://tkv.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_tkv.png") alt="Türk Kalp Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRK KALP VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://www.tev.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_tev.png") alt="Türk Eğitim Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRK EĞİTİM VAKFI</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <a href="http://www.mehmetcik.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_tsk.png") alt="Mehmetçik Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">MEHMETÇİK VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://cocukhizmetleri.aile.gov.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_cek.png") alt="Sosyal Hizmetler Çocuk Esirgeme Kurumu"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">SOSYAL HİZMETLER VE ÇOCUK ESİRGEME KURUMU</p>
            </div>
        </div>
    </div>

    <br />
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <a href="https://www.acev.org/" target="_blank">
                    <span class="center">
                        <img class="card-img-top" src=@Url.Content("/Content/Media/Support/_acev.png") alt="Anne Çocuk Eğitim Vakfı">
                    </span>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">ANNE ÇOCUK EĞİTİM VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://www.turkiyedepremvakfi.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_tdv.png") alt="Türkiye Deprem Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRKİYE DEPREM VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.ihh.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_ihh.png") alt="İHH İnsani Yardım Vakfı"></span></a>

            </div>
            <div class="card-body">
                <p class="card-text">İHH İNSANİ YARDIM VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://www.cevko.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_cevko.png") alt="Çevko"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">ÇEVKO</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://tugva.org/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_tugva.png") alt="Tügva"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜGVA</p>
            </div>
        </div>
    </div>
    <br />



    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <a href="http://www.tscvakfi.org.tr/" target="_blank">
                    <span class="center">
                        <img class="card-img-top" src=@Url.Content("/Content/Media/Support/_tsck.png") alt="Türkiye Sokak Çocukları Vakfı">
                    </span>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRKİYE SOKAK ÇOCUKLARI VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.cekulvakfi.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_cekul.png") alt="Çevre ve Kültür Koruma Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">ÇEKÜL</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.sadakatasi.org.tr/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_sv.png") alt="Sadakataşı Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">SADAKATAŞI VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://www.haykod.org/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_haykod.png") alt="Hayvanları Koruma Derneği"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">HAYVANLARI KORUMA DERNEĞİ</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.greenpeace.org/" target="_blank"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/_gp.png") alt="Greenpeace"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">GREENPEACE</p>
            </div>
        </div>

    </div>

</div>
