@{
    Layout = null;
}

<style>
    #supportCards img {
        height: 8vw;
    }

    #supportCards .card .card-body .card-text {
        font-size: 1vw;
    }

    #supportCards .card {
        height: 14vw;
    }
</style>

<div id="supportCards">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <a href="https://www.losev.org.tr/"><span class="center"><img class="card-img-top w-100" src=@Url.Content("/Content/Media/Support/losev.jpg") alt="Lösev"></span></a>
            </div>
            <div class="card-body bg">
                <p class="card-text">LÖSEV</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="https://www.kizilay.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/kizilay.jpg") alt="Kızılay"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">KIZILAY</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <a href="https://www.yesilay.org.tr/tr"><span class="center"><img class="card-img-top" src=@Url.Content("Content/Media/Support/yesilay.jpg") alt="Yeşilay"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">YEŞİLAY</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.akut.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/akut.jpg") alt="Akut"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">AKUT</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <a href="http://www.tema.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/tema.jpg") alt="Tema"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TEMA</p>
            </div>
        </div>
    </div>

    <br />
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <a href="https://www.tbv.com.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/tbv.jpg") alt="Türk Böbrek Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRK BÖBREK VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://tkv.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/TKV.JPG") alt="Türk Kalp Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRK KALP VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://www.tev.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/tev.jpg") alt="Türk Eğitim Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRK EĞİTİM VAKFI</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <a href="http://www.mehmetcik.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/tsk.png") alt="Mehmetçik Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">MEHMETÇİK VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://cocukhizmetleri.aile.gov.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/cek.png") alt="Sosyal Hizmetler Çocuk Esirgeme Kurumu"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">SOSYAL HİZMETLER VE ÇOCUK ESİRGEME KURUMU</p>
            </div>
        </div>
    </div>

    <br />
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <a href="https://www.acev.org/">
                    <span class="center">
                        <img class="card-img-top" src=@Url.Content("/Content/Media/Support/acev.png") alt="Anne Çocuk Eğitim Vakfı">
                    </span>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">ANNE ÇOCUK EĞİTİM VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://www.turkiyedepremvakfi.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/tdv.jpg") alt="Türkiye Deprem Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRKİYE DEPREM VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.ihh.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/ihh.jpg") alt="İHH İnsani Yardım Vakfı"></span></a>

            </div>
            <div class="card-body">
                <p class="card-text">İHH İNSANİ YARDIM VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://www.cevko.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/cevko.jpg") alt="Çevko"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">ÇEVKO</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://tugva.org/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/tugva.png") alt="Tügva"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜGVA</p>
            </div>
        </div>
    </div>
    <br />



    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <a href="http://www.tscvakfi.org.tr/">
                    <span class="center">
                        <img class="card-img-top" src=@Url.Content("/Content/Media/Support/tsck.jpg") alt="Türkiye Sokak Çocukları Vakfı">
                    </span>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">TÜRKİYE SOKAK ÇOCUKLARI VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.cekulvakfi.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/cekul.jpg") alt="Çevre ve Kültür Koruma Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">ÇEKÜL</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.sadakatasi.org.tr/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/sv.jpg") alt="Sadakataşı Vakfı"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">SADAKATAŞI VAKFI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="http://www.haykod.org/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/haykod.jpg") alt="Hayvanları Koruma Derneği"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">HAYVANLARI KORUMA DERNEĞİ</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="https://www.greenpeace.org/"><span class="center"><img class="card-img-top" src=@Url.Content("/Content/Media/Support/gp.jpg") alt="Greenpeace"></span></a>
            </div>
            <div class="card-body">
                <p class="card-text">GREENPEACE</p>
            </div>
        </div>

    </div>

</div>
