@{
    Layout = null;
}


<div id="developer" class="shadow p-3 mb-5 bg-white rounded" >
    <div class="row no-gutters">
        <div class="col-md-2">
            <img data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605609436/samples/Developer/fethi.jpg" class="card-img" alt="Fethi Tekyaygil" style="width:90%;padding-left:20px;margin-left: -10px;">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title" style="font-weight:bold">Fethi Tekyaygil<br /> @Localizer["Title"]<br /><a href="mailto:contact@fethitekyaygil.com"> contact@fethitekyaygil.com</a></h5>
                <p class="card-text" style="padding-top:60px">
                    @Localizer["AboutMe"]
                </p>
            </div>
        </div>
    </div>
</div>
