
@{
    Layout = null;
}
<div class="shadow p-3 mb-5 bg-white rounded" id="mainNav">
    <header class="masthead bg-primary text-white text-center" >
        <img class="img-fluid mb-2 d-block mx-auto" data-src=@Url.Content("/lib/freelancer/img/index.png") alt="freelancer" width="4%">
        <div id="t"> <h1 class="text-uppercase mb-0">Fethi Tekyaygil</h1></div>
        <hr class="star-light">
        <div id="t1">
            <h2 class="font-weight-light mb-0">@Localizer["HeaderTitle"]</h2>
        </div>
    </header>
</div>