
@{
    Layout = null;
}
<div class="shadow p-3 mb-5 bg-white rounded" id="mainNav" style="margin-top:70px;">
    <header class="masthead bg-primary text-white text-center" >
        <img class="img-fluid mb-2 d-block mx-auto" data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1607349762/samples/Entrance/entrance_dtbzqm.png" alt="freelancer" width="7%">
        <br />
        <div id="t"> <h1 class="text-uppercase mb-0">Fethi Tekyaygil</h1></div>
        <hr class="star-light">
        <div id="t1">
            <h2 class="font-weight-light mb-0">@Localizer["HeaderTitle"]</h2>
        </div>
    </header>
</div>